//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	display: flex;
	flex: 1 1 auto;
}